<div class="container">
   <div class="col-toolbar">
      <mat-toolbar>
         <div class="header">
            <div class="leftbuttons col">
               <button matMiniFab (click)="loadFavorites()" class="favorite-icon" aria-label="This weeks favourites">
                  <mat-icon fontSet="material-symbols-rounded">favorite</mat-icon>
               </button>
            </div>
            <div class="prev-next-select-group col">
               <button matIconButton  (click)="prevDay()" class="but-prev" aria-label="Previous day">
                  <mat-icon fontSet="material-symbols-rounded">arrow_back_2</mat-icon><!-- release_alert -->
               </button>
               <mat-select panelWidth="" panelClass="day" class="day-select" (selectionChange)="dayChanged($event)" [(value)]="selDay" placeholder="Day">
                  @for (day of tvgutils.getDays(); track day) {
                     <mat-option class="day-option" [value]="day">{{ day }}</mat-option>
                  }
               </mat-select>
               <button matIconButton (click)="nextDay()" class="but-next" aria-label="Next day">
                  <mat-icon fontSet="material-symbols-rounded">play_arrow</mat-icon><!-- release_alert -->
               </button>
            </div>
            <div class="prev-next-select-group col">
               <button matIconButton  (click)="prevChannel()" class="but-prev" aria-label="Previous channel">
                  <mat-icon fontSet="material-symbols-rounded">arrow_back_2</mat-icon><!-- release_alert -->
               </button>
               <mat-select panelWidth="" panelClass="channel" class="channel-select" (selectionChange)="channelChanged($event)" [(value)]="selChannel" placeholder="Channel">
                  @for (chan of tvgutils.getChannels(); track chan) {
                     <mat-option [value]="chan" class="channel-option">{{ chan.name }}</mat-option>
                  }
               </mat-select>
               <button matIconButton (click)="nextChannel()" class="but-next" aria-label="Next channel">
                  <mat-icon fontSet="material-symbols-rounded">play_arrow</mat-icon><!-- release_alert -->
               </button>
            </div>

            <div class="rightbuttons col">
               <button matMiniFab (click)="loadUpcoming()" class="" aria-label="New series starting this week">
                  <mat-icon fontSet="material-symbols-rounded">upcoming</mat-icon><!-- release_alert -->
               </button>
               <button matMiniFab (click)="loadFavouriteList()" class="" aria-label="List of favourites">
                  <mat-icon fontSet="material-symbols-rounded">subscriptions</mat-icon>
               </button>
            </div>
         </div>
      </mat-toolbar>
   </div>
   <div class="col-guidepageframe">
      <iframe [src]="guidePageURL" class="guidepageframe"></iframe>
   </div>
</div>