<!--
Looks like the Angular Material Toolbar is most likely to be suitable
for the top navigation zone.

The problem then is how to load the guide pages - this previously happened in
and iframe which is frowned upon nowadays.

I don't see anything specifically Material related for this.

Closest I've come across is:
HTML
<div [innerHtml]="myTemplate"></div>
TS
export public class MyComponent {
    private myTemplate: any = "";
    constructor(http: Http) {
        http.get(myExternalPageLink).map((html:any) => this.myTemplate = html);
    }
}

Maybe need something called 'safeHtml' pipe:
@Pipe({name: 'safeHtml'})
export class SafeHtmlPipe {
  constructor(private sanitizer: DomSanitizer){}
    
  transform(html: string) {
    return this.sanitizer.bypassSecurityTrustHtml(html);
  }
}
not sure how the pipe get's used, possibly in the get 
-->


<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
