@use '@angular/material' as mat;

.header
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  gap: 10px;
}

.col
{
   flex: 0 0 auto;
}

.leftbuttons
{

}

.day-select-group
{

   border-radius: 4px;
   border-style: solid;
   border-width: 1px;
   border-color: var(--mat-sys-outline);
   background-color:var(--mat-sys-background);
   box-shadow: none;
}

.day-select
{
   width: 100px;
}

.channel-select-group
{
   border-radius: 4px;
   border-style: solid;
   border-width: 1px;
   border-color: var(--mat-sys-outline);
   background-color:var(--mat-sys-background);
   box-shadow: none;
}

.channel-select
{
   width: 200px;
}

.rightbuttons
{

}