@use '@angular/material' as mat;

.mat-toolbar
{
   padding-right: 0px;
   padding-left:5px;
}

.header
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  gap: 10px;
}

// columns in the header flex
.col
{
   flex: 0 0 auto;
}

// class for buttons on the left of the selector boxes
.leftbuttons
{
   opacity: inherit;  // nop value to avoid warnings
}


/*
   Typical Material ballshirt - the components do not adjust to the font-size
   When the font size of the select is reduced the font size of the dropdown
   list does not match it. When the font size of the dropdown list is forced
   to match that of the select then the list container does not display the
   list properly.

   I suspect this might be where 'zoom' should be used by haven't managed to
   find where I used it before...
 */
.mat-mdc-option
{
   font-size: 10pt;
}

.channel-select, .day-select
{
   font-size: 10pt;
   padding-right: 10px;
   padding-left: 10px;
}

.channel-select
{
   width: 110px;
}

.day-select
{
   width: 70px;
}

.prev-next-select-group
{
   border-radius: 4px;
   border-style: solid;
   border-width: 1px;
   border-color: var(--mat-sys-outline);
   background-color:var(--mat-sys-background);
   box-shadow: none;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
}

// class for the previous buttons in the selector boxes
.but-prev
{
   opacity: inherit;  // nop value to avoid warnings
}

// class for the next buttons in the selector boxes
.but-next
{
   opacity: inherit;  // nop value to avoid warnings
}

// class for buttons on the right of the selector boxes
.rightbuttons
{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   gap: 10px;
}

/*
   Battled for ages trying to get the iframe to fill the remaining
   height under the toolbar without showing two vertical scrollbars.
   The only thing which appears to work at the moment is to set the
   height of the iframe to 98%. This means the unnecessary scrollbar only
   appears when the browser is reduced to an impractical size.
 */
.container
{
   height: 100%;
   display: grid;
   grid-template-rows: auto 1fr;
   align-content: space-between;
}

.col-toolbar
{
   opacity: inherit;  // nop value to avoid warnings
}

.col-guidepageframe
{
    overflow: hidden;
    height: 100%;
}

.guidepageframe
{
   width: 100%;
   height: 100%;
}