
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@use 'material-symbols'; // npm install material-symbols
@import "@fontsource-variable/roboto-flex/wght.css";  // npm install @fontsource-variable/roboto-flex


html {
   color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'Roboto Flex Variable',
    density: 0,
  ));
}

html, body
{
   height: 100%;
}

body
{
   margin: 0;
   font-family:  'Roboto Flex Variable', Roboto, "Helvetica Neue", sans-serif !important;
     // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}


// Below is content of otvguide stylesheet.css

A.fav:link
{
    COLOR: #FF0000;
    FONT-SIZE: 9pt;
     TEXT-DECORATION: none;
}

 A.fav:visited
{
    COLOR: #FF0000;
    FONT-SIZE: 9pt;
     TEXT-DECORATION: none;
}

A.fav:hover
{
   COLOR: #4F5CA6;
}
A.fav:active
{
   COLOR: #4F5CA6
}

.genprog
{

   font-size: 16px;

   color: #000080;
   BACKGROUND-COLOR: #C0C0C0;
}


H2
{
   FONT-WEIGHT: bold;
   FONT-SIZE: 20px;

   color: #0000FF;
}

P
{
   color: #000000;
   FONT-SIZE: 08px;

}

A.crit
{
   color: #C000C0;
   FONT-SIZE: 16px;

}


TD.fav
{
   color: #000000;
   FONT-SIZE: 10px;

}


TD.time
{
   vertical-align:top;

}
TD.title
{
   vertical-align:top;

}

.prog0
{
   background-color: #FAF0E6;
}
.prog1
{
   background-color: #FFE4E1
}
.episode
{
   color: blue;
}
.title_favorite
{
font-weight: bold;
font-size: larger;
color: #00FF00;
}

.title_newseries
{
font-weight: bold;
font-size: larger;
color: #FF5500;
}
.title_normal
{
font-weight: bold;
color: #000000;
}

.favstart
{
   vertical-align:middle;
}

.favchan
{
   vertical-align:middle;
}
.favprog
{
   vertical-align:middle;
   font-weight: bold;
}
A.favprog:link
{
  TEXT-DECORATION: none;
}

A.favprog:visited
{
  TEXT-DECORATION: none;
}

A.favprog:hover
{
  COLOR: #8000ff;
  TEXT-DECORATION: none;
}
A.favprog:active
{
  COLOR: #FF00FF;
}